* {
    margin: 0;
    top: 0;
    left: 0;
}

@font-face {
    font-family: tiron;
    src: url("src/Fjalla_One/FjallaOne-Regular.ttf");
  }

  header{
    padding: 50px;
    background: #00B607;
    color: white;
    margin-bottom: 30px;
  }

  .headertitle{
    text-align: left;
    font-size: 50px;
    font-family: tiron;
  }